body {
    background-color: black;
    
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    margin: 50px auto;
    color: white;
}

.black {
    background-color: gray;
}

.white {
    background-color: rgb(236, 245, 245);
}

.selected {
    outline: 5px solid orange;
}

.mark {
    background-color: lightpink;
}

table {
    margin: 50px auto 30px;
}

.game-board td {
    width: 50px;
    height: 50px;

    text-align: center;
    font-size: 2.4em;
}